{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}
            
{% block body_block %}

<title>Purrfect Pets | Add comment</title>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        
         <div class="col-md-5 p-lg-5 mx-auto my-5">
           
                <div class="jumbotron text-center">
				<p class="lead font-weight-normal">Add Comment for {{pet.name}}</p>
				</div>
		</div>
		<div>
    
    <!-- Form for adding comments -->

                <h3>Add Comment</h3>
                <div>
                    <form id ="add_comment_form" method="post" >
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                        
                        <input type="submit" name="submit" value="Add Comment" />
                    </form>
                </div>
		</div>
</div>


{% endblock %}