{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}
            
{% block body_block %}

<title>Purrfect Pets | Add Pet</title>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        
         <div class="col-md-5 p-lg-5 mx-auto my-5">
                <div class="jumbotron text-center">
				<p class="lead font-weight-normal">Purrfect Pets | Add Pet</p>
				</div>
		</div>
		<div>

                <h3>Add a Pet</h3>
                <div>
                    <form id ="add_pet_form" method="post" action="/purrfectpets_project/login/my_account/add_pet/">
                        {% csrf_token %}
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{hidden}}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                        
                        <input type="submit" name="submit" value="Add Pet" />
                    </form>
                </div>
		</div>
</div>


{% endblock %}


