<!DOCTYPE html>

{% load staticfiles %}
{% load purrfectpets_template_tags %}

<html>
  <head>
    <title>
      Purrfect Pets -
      {% block title_block %}
        Find some Purrfect Pets
      {% endblock %}
    </title>
  </head>

  <body>
  
	<div>
	{% block heading_block %}
	{% endblock %}
	</div>
	<div>
	{% if user.is_authenticated %} 
		<a href="{% url 'purrfectpets:logout' %}">Logout</a>
		{% else %} 
		<a href="{% url 'purrfectpets:login' %}">Login</a>
		<a href="{% url 'purrfectpets:sign_up' %}">New member? Sign Up</a>
		{% endif %}
		<a href="/purrfectpets/">Home</a>
        <a href="{% url 'purrfectpets:categories' %}">Categories</a>
        <a href="{% url 'purrfectpets:popular_pets' %}">Popular pets</a>
    </div>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>

    <hr />
    <div>
		<a href="{% url 'purrfecpets:about_us' %}">About</a>
        <a href="{% url 'purrfecpets:contact_us' %}">Contact Us</a>	
      
    </div>
  </body>
</html>