<!DOCTYPE html> 
{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}

{% block body_block %}

<title>Purrfect Pets | Categories</title>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <p class="lead font-weight-normal">Purrfect Pets | Categories</p>
      
    </div>
    <div>
        <table style = "width: 80%">
                <tr>
                    <a href="{% url 'purrfectpets_project:cats' %}"><img alt="Category: Cat" src="/static/images/cat.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:dogs' %}"><img alt="Category: Dog" src="/static/images/dog.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:fish' %}"><img alt="Category: Fish" src="/static/images/fish.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:reptiles' %}"><img alt="Category: Reptiles" src="/static/images/Reptile.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:rodents' %}"><img alt="Category: Rodents" src="/static/images/Rodents.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:other' %}"><img alt="Category: Tarantula" src="/static/images/Tarantula.png" width="400" height="250"></a>
                </tr>
        </table>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  

{% endblock %}
