<!DOCTYPE html> 
{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}

{% block body_block %}

<title>Purrfect Pets | Categories</title>

<div class="container" style="margin-top:30px">
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="jumbotron text-center">
		<p class="lead font-weight-normal">
			Purrfect Pets | Categories</p>
    </div>
	</div>
    <div>
        <table style = "width: 80%">
                <tr>
                    <a href="{% url 'purrfectpets_project:cats' %}"><img alt="Category: Cat" src="/static/images/cats.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:dogs' %}"><img alt="Category: Dog" src="/static/images/dogs.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:fish' %}"><img alt="Category: Fish" src="/static/images/fishes.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:reptiles' %}"><img alt="Category: Reptiles" src="/static/images/reptiles.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:rodents' %}"><img alt="Category: Rodents" src="/static/images/rodents.png" width="400" height="250"></a>
                    <a href="{% url 'purrfectpets_project:other' %}"><img alt="Category: Tarantula" src="/static/images/others.png" width="400" height="250"></a>
                </tr>
        </table>
    </div>
    
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
 </div>
  

{% endblock %}
