<!DOCTYPE HTML>
{% extends 'purrfectpets/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Purrfect Pets - Contact Us</title>
{% endblock %}

{% block body_block %}  
    
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <p class="lead font-weight-normal"> 
        <h1>Any questions?</h1>
        <h5>Want to get in touch? Feel free to contact any of us using the following details.</h5>
        <h4>Developers</h4>
        <ul>
            <li>Anna Berry: 2373329B@student.gla.ac.uk</li>
            <li>Robert McDermid: 2391520M@student.gla.ac.uk</li>
            <li>Ryan McGuigan: 2388311M@student.gla.ac.uk</li>
            <li>Alex Paterson: 2382854p@student.gla.ac.uk</li>
            <li>Henry Speir: 2297552S@student.gla.ac.uk</li>
        </ul>
        <h4>Our HQ</h4>
        <p>62 West Wallaby Street,<br>Wigan,<br>Lancashire</p></p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

{% endblock %}
   



