{% extends 'purrfectpets_project/base.html' %}

{% block body_block %}
<title>Purrfect Pets | Home</title>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <a href="{% url 'purrfectpets_project:home' %}"><img alt="Purrfect Pets" src="/static/images/purrfect-pets-logo-black.png" width="300" height="150" ></a>
      <p class="lead font-weight-normal">Welcome! Click the link below to see some Purrfect Pets.</p>
      <a class="btn btn-outline-secondary" href="{% url 'purrfectpets_project:categories' %}">Categories</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                     <h2>Most Viewed Categories</h2>
                     <p class="card-text">
                    {% if categories %}
                    <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                        <a href="/purrfectpets_project/{{ category.name }}/">{{ category.name|capfirst }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pets up yet! Post some yourself!</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
					
					<a href="{% url 'purrfectpets_project:popular_pets' %}"> <h2>Our Most <strong>Aww</strong>some Animals</h2></a>
                    
                    <p class="card-text">
                    {% if pets %}
                    <ul class="list-group">
                    {% for pet in pets %}
                        <li class="list-group-item">
                        <a href="{{ pet.url }}">{{ pet.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pets up yet! Post some yourself!</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}