{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Account
{% endblock %}
        
            
 {% block body_block %}
        <h3>Your Account</h3><br>
        Username: {{ user.username }}<br>
        Email: {{ user.email }}<br>
        Number of Pets: {{ user.numberofpets }}<br>
        
        <div class = "button">
        <a href="{% url 'purrfectpets_project:my_pets' %}">My Pets</a>
        </div>
        
        <div class = "button">
        <a href="{% url 'purrfectpets_project:add_pet' %}">Add Pet</a>
        </div>
   {% endblock %}


