{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}        
            
 {% block body_block %}
        <title>Purrfect Pets | My Pets</title>
        <h3>My Pets</h3>
        {% if pets %}
            <table style = "width: 50%">
                <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                </tr>
                {% for p in pets %}
                    <tr>
                        <td><a href="{% url 'purrfectpets_project:pet_page' user.username p.slug %}">{{ p.name }}</a></td>
                        <td>{{ p.category }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
{% endblock %}



