{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}        
            
 {% block body_block %}
<title>Purrfect Pets | My Pets</title>

<div class="container" style="margin-top:30px"> 
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <div class="jumbotron text-center">
				<p class="lead font-weight-normal">Purrfect Pets | My Pets</p>
                    
                </div>
            </div>
                    <h3>My Pets</h3>
                    {% if pets %}
                        <table class="table table-striped" style = "width: 50%">
						
                            <tr>
                                <th>Pet Name</th>
								<th>Pet Type</th>
								<th>Date Added</th>
                            {% for p in pets %}
                                <tr>
                                    <td><a href="{% url 'purrfectpets_project:pet_page' user.username p.slug %}">{{ p.name }}</a></td>
                                    <td>{{ p.category }}</td>
									<td>{{ p.created_on }}</td>
                                </tr>
                            {% endfor %}
						
                        </table>
                    {% endif %}
					</br>
					<a href="{% url 'purrfectpets_project:add_pet' %}">Click here to add a pet.</a></br>
					<a href="{% url 'purrfectpets_project:my_account' %}">Click here to return to your account.</a>
        </div>
</div>
{% endblock %}

