{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}  
{% load crispy_forms_tags %}      
            
 {% block body_block %}
        <title>Purrfect Pets | Pet Page</title>

        <div class="container">
            <div class="center">
                 <div class="card" style="width:400px">
                      <div class="card-body">
                      <h4 class="card-title"><br>Name: {{ pet.name}}</h4>
					    {% for photo in photos %}
					
                         <img src="/media/{{photo.photo}}" alt="{{photo.id}}" width="110" height="200"/>
						{% endfor %}
                      <p class="card-text">Breed: {{ pet.breed }}</p>
                      <p class="card-text">Bio: {{ pet.bio }}<br></p>
                      
                      <div>
                            <strong id="awwCount">{{ pet.awwCount }}</strong> Awws
                            <img id="myImage" src="/static/images/aww-empty.png" style="width:25px">
                            <button onclick="document.getElementById('myImage').src='/static/images/aww-full.png'" id="like_btn" data-petid="{{ pet.id }}" data-userid="{{ user.id }}" class = "btn btn-primary btn-sm" type  = "button"><span data-feather="heart"></span>Aww!</button>
                            <button onclick="document.getElementById('myImage').src='/static/images/aww-empty.png'" id='unlike_btn'data-petid="{{ pet.id }}" data-userid="{{ user.id }}"class = "btn btn-primary btn-sm" type  = "button"><span data-feather="heart">Remove Aww</button>
                            <script>document.getElementById('like_btn').style.visibility = "hidden"</script>
                            <script>document.getElementById('unlike_btn').style.visibility = "hidden"</script>
                            {% if user.is_authenticated %}
                            {% if user not in admirers %}
                            <script>document.getElementById('like_btn').style.visibility = "visible"</script>
                            {% else %}
                            <script>document.getElementById('myImage').src='/static/images/aww-full.png'</script>
                            <script>document.getElementById('unlike_btn').style.visibility = "visible"</script>
                            {% endif %}
                            {% endif %}

                       </div>

					



					<script>
					function myFunction() {
					  var x = document.getElementById("myDIV");
					  if (x.style.display === "block") {
						x.style.display = "none";
					  } else {
						x.style.display = "block";
					  }
					}
					</script>
						
					<button onclick="myFunction()" >View Comments</button>	
					
					<div id="myDIV" style="display : none;">
						{% if comments %}
							 {% for comment in comments%}
							 <p class="card-text">{{ comment.name}}: {{comment.body}}</p><br>
							<p>Written by {{ comment.name }} on {{ comment.created_on }}</p>
							{% endfor %}
						{% else %}
							<p>There are no comments</p>
						{% endif %}
					</div>
                   
				   
				   
					
					
					
                    <h3>Add new comment</h3>
                    <div>
                         <form id ="comment_form" method="post" action="{% url 'purrfectpets_project:add_comment'%}">
                             {{ comment_form | crispy }}
                             {% csrf_token %}
                             {% for hidden in form.hidden_fields %}
                                 {{hidden}}
                             {% endfor %}
                             {% for field in form.visible_fields %}
                                 {{ field.errors }}
                                 {{ field.help_text }}
                                 {{ field }}
                             {% endfor %}
                             
                             <a href="{% url 'purrfectpets_project:add_comment'%}" class="btn btn-primary">Add Comment</a>
                         </form>
                     </div>
                   


                 </div>
            </div> 
       </div>
{% endblock %}