<!DOCTYPE html> 
{% extends 'purrfectpets/base.html' %}

{% block body_block %}

    <div class="container">
        <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                    <h2>{{ posts.title }}</h2>
                    <p>Written by {{posts.author}} on {{posts.published}}</p>
                    <hr>  
                    {{post.content|linebreaks}}
                    <hr>
                    <h1>Leave a comment</h1>
                    <p>Total number of comments {{ post.comments.count }}</p>
                    <a href="{% url 'purrfectpets:add_comment' slug=post.slug %}"></a>
                    {% for comment in post.comments.all %}
                        <p>{{ comment.created }}</p>
                        <p>{{ comment.user }}</p>
                        <p>{{ comment.body }}</p>
                    {% empty %}
                        <p>There is no comments</p>
                    {% endfor %}
            </div>
        </div>
  
{% endblock %}