<!DOCTYPE html> 
{% extends 'purrfectpets_project/base.html' %}
{% load staticfiles %}

{% block body_block %}  
<title>Purrfect Pets | Rodents</title>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <p class="lead font-weight-normal"> 
        <h1>Purrfect Pets | Rodents</h1>
        <h4>Welcome to the Purrfect Rodents page</h4>
    </div>
    
    {% if pets %}
        <ul class="list-group">
        {% for pet in pets %}
            <li class="list-group-item">
            <a href="{% url 'purrfectpets_project:pet_page' pet.owner.username pet.slug %}">{{ pet.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no rodents up yet! Post some yourself!</strong>
    {% endif %}
    
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

{% endblock %}


