{% extends 'purrfectpets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Picture
{% endblock %}
        
            
    {% block body_block %}
        <h3>Add a Picture</h3>
        <div>
            <form id ="add_picture_form" method="post" action="/login/my_account/{{ pet.slug }}/add_picture">
                {% csrf_token %}
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{hidden}}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Add Picture" />
            </form>
        </div>
    {% endblock %}



