<!DOCTYPE HTML>
<html>
    <head>
        <title>Purrfect Pets - Contact Us</title>
    </head>
    
    <body>
        <h1>Any questions?</h1>
        <h5>Want to get in touch? Feel free to contact any of us using the following details.</h5>
        <h4>Developers</h4>
        <ul>
            <li>Anna Berry: 2373329B@student.gla.ac.uk</li>
            <li>Robert McDermid: 2391520M@student.gla.ac.uk</li>
            <li>Ryan McGuigan: 2388311M@student.gla.ac.uk</li>
            <li>Alex Paterson: 2382854p@student.gla.ac.uk</li>
            <li>Alex Paterson: 2297552S@student.gla.ac.uk</li>
        </ul>
        <h4>Our HQ</h4>
        <p>62 West Wallaby Street,<br>Wigan,<br>Lancashire</p>
</html>



