<!DOCTYPE HTML>

{% load staticfiles %}

<html>
    <head>
        <title>Purrfect Pets - Contact Us</title>
        <div>
            <a href="{% url 'purrfectpets:login' %}">Login</a>
            <a href="{% url 'purrfectpets:sign_up' %}">New member? Sign Up</a>
        </div>
    </head>
    
    <body>
        <div>
            <a href="/purrfectpets/">Home</a>
            <a href="{% url 'purrfectpets:categories' %}">Categories</a>
            <a href="{% url 'purrfectpets:popular_pets' %}">Popular pets</a>
        </div>
        <h1>Any questions?</h1>
        <h5>Want to get in touch? Feel free to contact any of us using the following details.</h5>
        <h4>Developers</h4>
        <ul>
            <li>Anna Berry: 2373329B@student.gla.ac.uk</li>
            <li>Robert McDermid: 2391520M@student.gla.ac.uk</li>
            <li>Ryan McGuigan: 2388311M@student.gla.ac.uk</li>
            <li>Alex Paterson: 2382854p@student.gla.ac.uk</li>
            <li>Henry Speir: 2297552S@student.gla.ac.uk</li>
        </ul>
        <h4>Our HQ</h4>
        <p>62 West Wallaby Street,<br>Wigan,<br>Lancashire</p>
    </body>
    <footer>
        <div>
            <a href="{% url 'purrfectpets:contact_us' %}">Contact Us</a>
            <a href="{% url 'purrfectpets:about_us' %}">About Us</a>
        </div>
    </footer>
</html>



