{% extends 'purrfectpets/base.html' %}




{% block title_block %}
    Purrfect Pets
{% endblock %}

{% block body_block %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Purrfect Pets</h1>
      <p class="lead font-weight-normal">Welcome click the link below to view our pets</p>
      <a class="btn btn-outline-secondary" href="{% url 'purrfectpets:categories' %}">Categories</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                     <h2>Most Popular Pets</h2>
                     <p class="card-text">
                    {% if categories %}
                    <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                        <a href="{% url 'rango:show_category' category.slug %}">
                        {{ category.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no Pets present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Most Popular Categories</h2>
                    <p class="card-text">
                    {% if pages %}
                    <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no Categories present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}