<!DOCTYPE html> 
{% extends 'purrfectpets/base.html' %}
{% load staticfiles %}

{% block body_block %}


    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
        <p class="lead font-weight-normal">Purrfect Pets | Popular Pets</p>
        <a class="btn btn-outline-secondary" href="{% url 'purrfectpets:categories' %}">Categories</a>
        </div>
        <div>
            {% for posts in post %}
            <h2><a href="{{posts.get_absoulte_url}}">{{ posts.title }}</a></h2>
            <p>Written by {{posts.author}} on {{posts.published}} in <a href="{{posts.category.get_absoulte_url}}">{{posts.category}}</a></p>
            <hr>
            {{posts.content|truncatewords:40|linebreaks}}
        {% endfor %}
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>


  
{% endblock %}