<!DOCTYPE HTML>
<html>
    <head>
        <title>Purrfect Pets - Sign In</title>
    </head>
    
    <body>
        <h3>Welcome back! Please enter your account details.</h3>
        <form id="login_form" method="post" action="{% url 'purrfectpets:login' %}">
            {% csrf_token %}
            <br />
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="Login" />
            <br />
            OR 
            <br />
            <a href="#" class="fb btn">
              <i class="facebook-login"></i> Login with Facebook
            </a>
        </form>
        <h4>Not a member of Purrfect Pets? Sign up <a href="{% url 'purrfectpets:sign_up' %}">Here</a></h4>
    </body>
</html>



