{% extends 'purrfectpets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Pets
{% endblock %}
        
            
 {% block body_block %}
        <h3>My Pets</h3>
        {% if pets %}
            <table style = "width: 50%">
                <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                </tr>
                {% for p in pets %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.type }}</td>
                        <td><a href="{% url 'purrfectpets:add_picture' %}">Add Picture</a>
                    </tr>
                {% endfor %}
            </table>
	{% endblock %}



