{% extends 'purrfectpets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Popular Pets
{% endblock %}
        
            
 {% block body_block %}
        <h1>Purrfect Pets | Popular Pets</h1>
       
        <div>
            <img src="/static/images/Cat.jpg" width=400px height=250px alt="Category: Cat"/>
            <img src="/static/images/dog.jpg" width=400px height=250px alt="Category: Dog"/>
            <img src="/static/images/Fish.jpeg" width=400px height=250px alt="Category: Fish"/>
        </div>
    {% endblock %}